*.exe
WorldBuilder/obj/Debug/CoreCompileInputs.cache
*.cache
*.cache
*.pdb
*.txt
*.Cache
*.suo
WorldBuilder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WorldBuilder/obj/Debug/CoreCompileInputs.cache